.songs-page {
  padding: 2rem;
  color: #fdfbfb;
  font-size: normal;
  width: 100%;
}

.songs-container,
.mood-songs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* ROWS + COLUMNS */
  gap: 1.5rem;
  width: 100%;
}

.song-card,
.songs-card {
  background: #1e1e1e;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s;
}

.song-card:hover,
.songs-card:hover {
  transform: scale(1.05);
}

.song-card img,
.songs-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.song-card p {
  margin: 0.5rem 0;
}

.song-card audio {
  width: 100%;
}

.song-card button {
  margin-top: 0.5rem;
  background: #45a049;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.song-card button:hover {
  background: #807a7a;
}
