

.env/
.migrations/
.pipefile/
.pipefile.lock/
env/
migrations/
pipefile/
pipefile.lock/

__pycache__/
=======

.env/
.migrations/
.pipefile/
.pipefile.lock/
=======
env/
migrations/
pipefile/
pipefile.lock/

=======
__pycache__/


